$color: 	#d36154;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
          }

body {
  background-image: url('/images/cork-board.jpg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

}

h1 {
  color: $color;
  background-color: orange;
}

.group-1 {
  position: relative;
  top: 100px;
  left: 100px;
  -webkit-transform: rotate(7deg);
}

.group-2 {
  position: relative;
  top: 500px;
  left: 500px;
  -webkit-transform: rotate(7deg);
}

.group-3 {
  position: relative;
  top: 250px;
  left: 750px;
  -webkit-transform: rotate(23deg);
}

.polaroid {
  width: 400px;
  height: auto;
  position: absolute;

}

.pin {
  height: auto;
  width: 100px;
  position: absolute;

}

.picture {
  height: 300px;
  width: 300;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: -1;
}

.bluepin {
  height: auto;
  width: 100px;
  position: absolute;
  filter:hue-rotate(190deg);
}

.greenpin {
  height: auto;
  width: 100px;
  position: absolute;
  filter:hue-rotate(110deg);
}

.decorations:after {}
