$color: 	#d36154;

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
          }

body {
  background-image: url('/images/cork-board.jpg');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

}

h1 {
  color: $color;
  background-color: orange;
}

.group-1 {
  position: relative;
  top: 100px;
  left: 100px;
  -webkit-transform: rotate(7deg);
}

.group-2 {
  position: relative;
  top: 500px;
  left: 500px;
  -webkit-transform: rotate(-7deg);
}

.group-3 {
  position: relative;
  top: 300px;
  left: 1000px;
  -webkit-transform: rotate(23deg);
  // display: none;

}

.polaroid {
  content: url("/images/polaroid.png");
  width: 400px;
  height: auto;
  position: absolute;

}

      // .pin {
      //   content: url('images/red-pin.png');
      //   height: auto;
      //   width: 100px;
      //   position: absolute;
      //
      // }

.group-1::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url('/images/red-pin.png');
  background-position: center;
  background-size: cover;
}

.group-2::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url('/images/red-pin.png');
  background-position: center;
  background-size: cover;
  filter:hue-rotate(200deg);
}

.group-3::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background-image: url('/images/red-pin.png');
  background-position: center;
  background-size: cover;
  filter:hue-rotate(110deg);
}

// .group-n::after {
//   content: "";
//   height: 100px;
//   width: 100px;
//   position: absolute;
//   background-image: url('/images/red-pin.png');
//   background-position: center;
//   background-size: cover;
// }

.picture {
  content: url("/images/brainbow1.jpg");
  height: 300px;
  width: 300px;
  position: absolute;
  left: 40px;
  top: 50px;
  z-index: -1;
  filter:hue-rotate(100deg);
}

.group-1:hover ~ div .picture {
  filter: grayscale(75%);
}
